<img src="./assets/winding-path.png" class="bg-secondary">

<header class="title">
    <h1 id="home-title">Welcome back!</h1>
</header>

<!--Grid notation   <div class="col-sm-6"> -->
<div class="row">

    <div class="col-md-1 col-sm-2"> </div>

    <a href="/moodtracker" class="card col-md-3 col-sm-8 home-cards general-box" id="moodcard-box"
        style="width: 18rem;">
        <img src="./assets/moodtracker.png" class="card-img-top" id="moodcard-image"
            alt="a sample of a moodchart that tracks positivity on a scale of 1-10 on the y-axis and date on the x-axis">
        <div class="card-body">
            <p class="card-text">Our moodtracker can be a part of observing trends in your positivity. Click on the
                image above to be directed to the moodtracker.</p>
        </div>
    </a>

    <div class="col-md-1 col-sm-2"> </div>
    <section class="card col-md-6 col-sm-10 home-cards general-box" id="exercise-box" style="width: 18rem;">
        <div id="exercise-header">
            <h3>Build a burn in 2 minutes or less</h3>
        </div>
        <div class="slider">

            <a href="#slide-1">1</a>
            <a href="#slide-2">2</a>
            <a href="#slide-3">3</a>
            <a href="#slide-4">4</a>
            <a href="#slide-5">5</a>
            <a href="#slide-6">6</a>
            <a href="#slide-7">7</a>
            <a href="#slide-8">8</a>
            <a href="#slide-9">9</a>
            <a href="#slide-10">10</a>

            <div class="slides">
                <div id="slide-1">                    
                    
                    <p><strong>Wall sit (2 minutes):</strong>
                    <br><br>
                     Place your back flush with a wall and shimmy down while adjusting your feet until your knees
                    form a 90 degree angle. Increase the angle for a lighter burn and hold until you can't.</p>
                </div>
                <div id="slide-2">                  
                   
                    <p><strong>Arms in T (45 seconds):</strong>
                    <br><br>
                     From standing bring your arms out to your side palms down. Make this easier by bending your arms at
                    a 90 degree angle from your elbows (palms will still face down). After a few breaths you can rotate
                    your forearms so that your palms face forward or up. for an additional stretch. Try to hold for 5
                    deep breaths, then release. </p>
                </div>
                <div id="slide-3">
                    
                    <p><strong> Lower ab warm up (2 minutes):</strong>
                    <br><br>
                    Lay down on your back. Hinge at the hip to raise both legs to a 90 degree angle, there can be a
                    light bend in the knee, but keep them as straight as possible. Slowly lower one leg (still straight)
                    until your heel is 1 inch off the ground, hold for one breath, then switch legs. Go until you can't!</p>
                </div>
                <div id="slide-4">
                    
                    <p><strong>Middle core (2 minutes):</strong>
                    <br><br>
                    Take a seat on the ground, extend both arms forward palms down and place the soles of your feet on
                    the ground so your heels are just in front of your fingertips. Hinge backwards from your hips while
                    maintaining a straight back until you just begin shaking. Hold for 5 deep breaths. The lower your
                    arms are, the easier this will be.</p>
                </div>
                <div id="slide-5">
                    
                    <p><strong>Full abdominal (45 seconds):</strong>
                    <br><br>
                    Avoid this one if you have bad knees, wrists, or hips. Bring yourself onto your hands and knees so
                    that your palms are directly under your shoulders and your knees are under your hips. Lengthen your
                    spine, relax your neck, and raise your knees 2 inches off the ground. Hold for 5 deep breaths.</p>
                </div>
                <div id="slide-6">
                    
                    <p><strong>Tricep dips (45 seconds):</strong>
                    <br><br>
                    You'll need a table, filing cabinet or stationary chair (not wheeled!).  With back to whatever you're using,
                    place palms flat on surface, bend elbows straight back and lower yourself straight down until your elbow forms
                    a 90 degree angle.  Then straighten your arms and rise back to start. Do as many as possible within the time.</p>
                </div>
                <div id="slide-7">
                    
                    <p><strong>Calf Raises (60 Seconds):</strong>
                    <br><br>
                    Stand behind a chair or near a wall if you need support.  Raise your heels off the floor until you are standing
                    on your toes. Slowly lower yourself back to the floor.  For an extra challenge, stand with your toes on the edge of a step
                    or any sturdy raised surface.</p>
                </div>
                <div id="slide-8">
                    
                    <p><strong>Shoulder Blade Pinch (30 seconds)</strong>
                    <br><br>
                    This can be done seated or standing.  Sit or stand up tall, as if you're balancing a glass of water
                    on your head. Engage your core, then pinch your shoulder blades together(imagine squeezing a pencil between them).
                    Relax and repeat.</p>
                </div>
                <div id="slide-9">
                    
                    <p><strong>Wrist CARs (Controlled Articular Rotations) (20 seconds/wrist):</strong>
                    <br><br>
                    Start by grabbing your right forearm with your left hand. Slowly make circles with your right wrist.
                    Make four circles clockwise and then counter clockwise.  Repeat all of this on the left wrist. </p>
                </div>
                <div id="slide-10">
                    
                    <p><strong>Modified Seated Pigeon Stretch (20-30 seconds/side)</strong>
                    <br><br>
                    Sitting upright in your chair, cross your right ankle over your left knee. Flex your right foot,
                    and feel a stretch in your right glute and outer hip. If you don’t feel a stretch, slowly hinge
                    forward at your waist and lean into the right hip. Hold for 20-30 seconds, then switch sides.</p>
                </div>
            </div>
        </div>
    </section>
</div>

<!--end of row 1-->

<div class="row">
    <div class="col-md-1 col-sm-2"></div>
    <section class="card col-md-3 col-sm-8 home-cards general-box" id="water-box" style="width: 18rem;">
        <div class="card-img-top" alt="..." id="response-container"></div>
        <div class="card-body">
            <p class="card-text">You've got to hydrate to be great! Don't forget to have a little fun today</p>
        </div>
    </section>
</div>
<script src="/javascript/water-api.js"></script>

<!--end of row 2-->