<img src="./assets/winding-path.png" class="bg-secondary">

<header class="title">
    <h1 id="home-title">Welcome back!</h1>
</header>

<!--Grid notation   <div class="col-sm-6"> -->
<div class="row">

    <div class="col-md-1 col-sm-2"> </div>

    <a href="/moodtracker" class="card col-md-3 col-sm-8 home-cards general-box" id="moodcard-box"
        style="width: 18rem;">
        <img src="./assets/moodtracker.png" class="card-img-top" id="moodcard-image"
            alt="a sample of a moodchart that tracks positivity on a scale of 1-10 on the y-axis and date on the x-axis">
        <div class="card-body">
            <p class="card-text">Our moodtracker can be a part of observing trends in your positivity. Click on the
                image above to be directed to the moodtracker.</p>
        </div>
    </a>

    <div class="col-md-1 col-sm-2"> </div>
    <section class="card col-md-6 col-sm-10 home-cards general-box" id="exercise-box" style="width: 18rem;">
        <div id="exercise-header">
            <h3>Build a burn in 2 minutes or less</h3>
        </div>
        <div class="slider">

            <a href="#slide-1">1</a>
            <a href="#slide-2">2</a>
            <a href="#slide-3">3</a>
            <a href="#slide-4">4</a>
            <a href="#slide-5">5</a>
            <a href="#slide-6">6</a>

            <div class="slides">
                <div id="slide-1">
                    Wall sit (2 minutes):
                    <br>
                    Place your back flush with a wall and shimmy down while adjusting your feet until your knees
                    form a
                    90 degree angle. Increase the angle for a lighter burn and hold until you can't.
                </div>
                <div id="slide-2">
                    Arms in T (45 seconds): 
                    <br>
                    From standing bring your arms out to your side palms down.  Make this easier by bending your arms at a 90 degree angle from your elbows (palms will still face down). After a few breaths you can rotate your forearms so that your palms face forward or up. for an additional stretch. Try to hold for 5 deep breaths, then release.
                </div>
                <div id="slide-3">
                    Lower ab warm up (2 minutes):
                    <br>
                    Lay down on your back. Hinge at the hip to raise both legs to a 90 degree angle, there can be a light bend in the knee, but keep them as straight as possible. Slowly lower one leg (still straight) until your heel is 1 inch off the ground, hold for one breath, then switch legs. Go until you can't!
                </div>
                <div id="slide-4">
                    Middle core (2 minutes):
                    <br>
                    Take a seat on the ground, extend both arms forward palms down and place the soles of your feet on the ground so your heels are just in front of your fingertips. Hinge backwards from your hips while maintaining a straight back until you just begin shaking. Hold for 5 deep breaths. The lower your arms are, the easier this will be.
                </div>
                <div id="slide-5">
                    Full abdominal (45 seconds):
                    <br>
                    Avoid this one if you have bad knees, wrists, or hips. Bring yourself onto your hands and knees so that your palms are directly under your shoulders and your knees are under your hips. Lengthen your spine, relax your neck, and raise your knees 2 inches off the ground. Hold for 5 deep breaths. 
                </div>
                <div id="slide-6">
                    Wall sit (2 minutes):
                    <br>
                    Place your back flush with a wall and shimmy down while adjusting your feet until your knees form a 90 degree angle. Increase the angle for a lighter burn and hold until you can't.
                </div>
            </div>
        </div>
    </section>
</div>

<!--end of row 1-->

<div class="row">
    <div class="col-md-1 col-sm-2"></div>
    <section class="card col-md-3 col-sm-8 home-cards general-box" id="water-box" style="width: 18rem;">
        <div class="card-img-top" alt="..." id="response-container">
            <div class="card-body">
                <p class="card-text">You've got to hydrate to be great! Don't forget to have a little fun today</p>
            </div>
    </section>
</div>
<script src="/javascript/water-api.js"></script>

<!--end of row 2-->