<body class="landing-page-body">
    <img src="./swatches.png" id="bg-landing">

    <header id="landing-page-title-box">
        <h1 id="landing-page-title"> My Wellness Journey</h1>
    </header>

    <section id="landing-button-box">
        <a href="/login" id="landing-title-button">
            <h2>Login or Sign in</h2>
        </a>
    </section>

    <div id="about-box">
        <a href="/about" id="about-box-button">
            <h5>About my Wellness Journey </h4>
        </a>
    </div>