<div class="container-fluid full-height">
    <div class="row">
        <div class="col-sm-6">            
            <form  class="login-form mt-5 mb-5">
                <h5 class="text-center">Login</h5>
                <div class="form-group">
                    <label for="email-login">Email</label>
                    <input type="email"  class="form-control" id="email-login" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <label for="password-login">Password</label>
                    <input type="password" class="form-control" id="password-login" placeholder="Password"/>
                </div>
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>                
        </div>
        <br>
        <br>    
        <div class="col-sm-6">            
            <form  class="signup-form mt-5 mb-5">
                <h5 class="text-center">Signup</h5>
                <div class="form-group">
                    <label for="username-signup">Username</label>
                    <input type="text" class="form-control" id="username-signup" placeholder="Username"/>
                </div>
                <div class="form-group">
                    <label for="email-signup">Email</label>
                    <input type="text" class="form-control" id="email-signup" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <label for="password-login">Password</label>
                    <input type="text" class="form-control" id="password-signup" placeholder="Password"/>
                </div>
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary">Signup</button>
                </div>
            </form>            
        </div>
    </div>
</div>
<script src="/javascript/login.js"></script>