:root {
  --background: #dfcece;
  --accent: #7c73bf;
  --highlight: #2f9d90;
  --lowlight: #876e6e;
  --dark: #2e1b0f;
}
/* root syntax example:  background-color: var(--background); */

/* Global CSS adjustments */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  background-color: var(--background);
}

#bg-landing {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
  opacity: 75%;
  z-index: -1;
}

h2 {
  margin: 3%;
}

/* Begin styling landing page */
#landing-page-title-box {
  margin-top: 5%;
}
#landing-title-button {
  margin-top: 15%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid var(--dark);
  background-color: var(--accent);
  border-radius: 5px;
  color: white;
  white-space: nowrap;
  box-shadow: 2px 5px var(--lowlight);
}
#landing-title-button:hover {
  background: var(--lowlight);
  box-shadow: none;
}
/* End styling landing page */

/* Begin styling home page */
/* End styling home page */

/* Begin styling moodcard page */
#description {
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}
#cardparent {
  margin: 5px;
}
.mood-card {
  margin: 5px;
}

#graphparent {
  position: relative;
  margin: 5%;
}
#graphbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px black solid;
}
/* End styling moodcard page */
