:root {
  --background: #dfcece;
  --accent: #7c73bf;
  --highlight: #2f9d90;
  --lowlight: #876e6e;
  --dark: #2e1b0f;
}
/* root syntax example:  background-color: var(--background); */

/* Global CSS adjustments */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  background-color: var(--background);
}

/* Begin styling landing page */

#bg-landing {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
  opacity: 75%;
  z-index: -1;
}

h2 {
  margin: 3%;
}

#landing-page-title-box {
  display: flex;
  margin-top: 2%;
  margin-left: 5%;
  justify-content: flex-start;
  max-width: fit-content;
  padding: 1px;
}
#landing-page-title {
  color: white;
  text-shadow: 3px 3px var(--dark);
}
#landing-title-button {
  margin-top: 15%;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  color: white;
  text-shadow: 2px 2px var(--dark);
  border: none;
  white-space: nowrap;
}
#landing-title-button:hover {
  text-shadow: 3px 3px var(--dark);
}

#about-box {
  float: right;
  margin-right: 5%;
  margin-bottom: 2%;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  text-shadow: 2px 2px var(--dark);
}
#about-box-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  color: white;
  text-shadow: 2px 2px var(--dark);
  border: none;
  white-space: nowrap;
}
#about-box-button:hover {
  color: white;
}
/* End styling landing page */

/* Begin styling home page */
#home-title {
  text-align: start;
  margin-left: 3%;
}
.home-cards {
  color: black;
  margin: 5px;
}
#moodcard-box {
  color: black;
}
#exercise-box {
  color: black;
}
#water-box {
  color: black;
}
/* End styling home page */

/* Begin styling moodcard page */
#description {
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}
#cardparent {
  margin: 5px;
}
.mood-card {
  margin: 5px;
}

.alert {
  margin: 5px;
}

#graphparent {
  position: relative;
  margin: 5%;
}
#graphbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px black solid;
}
/* End styling moodcard page */

.hide {
  display: none;
}
