:root {
  --background: #dfcece;
  --accent: #7c73bf;
  --highlight: #2f9d90;
  --lowlight: #876e6e;
  --dark: #2e1b0f;
}
/* root syntax example:  background-color: var(--background); */

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#h1 {
  color: red;
}
